---
---

@import "normalize";
@import "rouge-github";
@import "responsive_layout";
@import "responsive_fonts_4fs";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

/* ================================================== */
/* some padding adjustments */

#footer {
    margin-top: 15px;
}
#content,
#sidebar {
    padding-bottom: 5px;
}
@media (min-width: 640px) {
    #sidebar {
        padding-top: 10px;
    }
}
@media (min-width: 960px) {
    #header,
    #content {
        padding-left: 40px;
    }
    #content {
        padding-right: 30px;
    }
}

/* ================================================== */
/* header */

header {
    position: sticky;
    top: 0px;
    height: calc(var(--h1size) * 5.0 / 3.0);
    z-index: 100;
    opacity: 0.9;

    h1, a {
        font-size: var(--h1size);
        font-weight: 700;
        line-height: 1em;
        margin: 0;
    }
    .avatar {
        float: left;
        height: var(--h1size);
        width: var(--h1size);
        margin-right: 15px;
    }
    #header {
        margin: calc(var(--h1size) / 3.0) 0;
    }
}

/* ================================================== */
/* fonts */

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}
header * {
    font-family: 'Noto Sans', sans-serif;
}
pre.highlight {
    font-size: 0.9em;
}

/* ================================================== */
/* colors and shadows */

:root {
    --headerbg: #369;
    --headerfg: #F8F8F8;
    --headerlinkactive: #ACE;

    --contentbg: #F8F8F8;
    --contentfg: #444;
    --contentlinkactive: #246;

    --codebg: #f0f0f0;
    --shadow: #888;
}

html {
    background-color: var(--contentbg);
    color: var(--contentfg);
}
header,
header a {
    background-color: var(--headerbg);
    color: var(--contentbg);
}
a {
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
#header a:active, #header a:hover {
    color: var(--headerlinkactive);
}
#footer a,
#content a,
#sidebar a {
    color: var(--headerbg);
}
#footer a:active, #footer a:hover,
#content a:active, #content a:hover,
#sidebar a:active, #sidebar a:hover {
    color: var(--contentlinkactive);
}
#content h1:before,
#content h2:before,
#content h3:before,
#content h4:before {
    color: var(--headerbg);
}
hr {
    color: var(--headerbg);
}

/* ================================================== */
/* blockquotes, notes */

blockquote {
    padding-left: 10px;
    margin: 20px;
    margin-left: 12px;
    border-left: 4px solid var(--headerbg);
}
p.note {
    padding: 15px;
    margin: 20px 0 20px 0;
    box-shadow: 0px 0px 8px 0px var(--shadow);
}

/* ================================================== */
/* code blocks */

pre.highlight {
    background-color: var(--codebg);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
pre code {
    background-color: var(--codebg);
}

/* ================================================== */
/* images / videos */

#content p.img,
#content p.video {
    margin: 20px 0;
    font-size: 0.85em;
    text-align: center;

    img,
    video {
        display: block;
        max-width: 100%;
        padding: 15px;
        margin: 0px auto;
        margin-bottom: 10px;
        box-shadow: 0px 0px 8px 0px var(--shadow);
    }
}

/* ================================================== */
/* lists */

ul {
    list-style: disc;
    padding-left: 25px;
}
ul.top-ul {
    list-style-type: none;
    padding-left: 0px;

    span.top-li {
        font-weight: bold;
    }
    ul {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    > li + li {
        margin-top: 1em;
    }
}

/* ================================================== */
/* sidebar border and shadows */

#sidebar {
    border-top: 2px solid var(--headerbg);
}
@media (min-width: 640px) {
    #sidebar {
        border-style: none;
    }
}

@media (min-width: 640px) {
    #sidebar {
        position: relative;
        background-color: var(--contentbg);
        padding-top: 0px;
        margin-top: 25px;
        margin-bottom: 15px;
        margin-right: 10px;
        width: calc(30% - 10px);
        box-shadow: 0px -5px 30px -8px var(--shadow);
    }
    #sidebar:before,
    #sidebar:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 200px;
        top: 5px;
        background-color: var(--shadow);
        z-index: -1;
    }
    #sidebar:before {
        left: 8px;
        box-shadow: -10px 0px 10px var(--shadow);
        transform: rotate(-4deg);
    }
    #sidebar:after {
        right: 8px;
        box-shadow: 10px 0px 10px var(--shadow);
        transform: rotate(4deg);
    }
}

/* ================================================== */
/* footer */

#footer-wrapper {
    border-top: 2px solid var(--headerbg);
}
#footer p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

